.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav ul li {
    margin-left: 45px;
}

.nav button {
    font-size: 14px;
    line-height: 14px;
    padding: 12px;
    border-radius: 2px;
}

.nav button:hover {
    color: rgb(255, 145, 11);
    cursor: pointer;
}

.nav_link {
    text-decoration: none;
    color: #2b2b27;
    transition: 0.3s;
}

.nav_link:hover {
    color: #ffba00ff;
}

.nav_link:active {
    color: #D29A00FF;
}