header {
    position: absolute;
    top: 50px;
    margin: 0 auto;
    width: 100%;
}

.header_absolute {
    position: sticky;
    top: 0;

}

.header_fixed {
    position: fixed;
    top: 0px;
}

.header_container {
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    margin: 0 auto;
    max-width: 1200px;
    transition: 0.3s;
}

.header_block {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}