.header {
    margin: 0 auto;
    position: absolute;
    top: 50px;
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    padding: 15px 45px;
}