.custom_button {
    display: flex;
    justify-content: center;
}

.custom_button div, .custom_button div button {
    width: 100%;
    font-size: 22px;
    margin: 30px 0 25px 7px;
    color: #ffffff;
}