.section_image {

    /*background-position: top;*/
}

.section_35vh {
    height: 35vh;
}

h2 {
    color: #fffbeb;
    text-align: right;
    font-size: 40px;
    padding: 20px 0;
}

h3 {
    padding: 40px;
}

.form_container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 50px;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
}

.login_img_block, .login_form_block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
}

.login_img_block {
    background-image: url("/public/assets/login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login_img_block div {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.login_img_block_content {
    padding: 0 30px;
    box-sizing: border-box;
    color: #fffbeb;
    background-color: rgba(43, 43, 43, 0.63);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}