@font-face {
    font-family: "Poppins";
    src: url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins:wght@300&display=swap");
}

.main {
    min-height: calc(100vh - 200px);
}

.section_100vh {
    height: 100vh;
}

.section_image {
    background-image: url("../../public/background-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section_image_content {
    padding-top: 200px;
}

.container_padding_200 {
    padding-top: 220px;
}

.information_section {
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    padding: 40px 0;
    margin: 80px auto 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.information_section_container {
    max-width: 25%;
    padding: 22px;
    text-align: center;
}

.information_section_container:hover {
    cursor: default;
}

.information_section_container h3 {
    padding: 20px 0 12px;
}

.information_section_container:hover img {
    opacity: 0.6;
    cursor: default;
    transition: 0.3s;
}

.products {
    padding: 40px 0;
}

.products_container {
    padding: 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.products_title {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}

.products_title h2 {
    margin-bottom: 12px;
}

.product_card {
    max-width: 100%;
}

.product_card img {
    width: 100%;
}

.product_card h4 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgba(67, 67, 67, 0.87);
    padding: 15px 0;
}

.product_card_panel {
    padding: 10px 0 10px;
    list-style: none;
    display: flex;
}

.product_card_panel li {
    margin-right: 22px;
}